[Unit]
Description=equilibria service node2
After=network-online.target
[Service]
Type=simple
User=root
ExecStart=/root/bin/xeq2 --non-interactive --service-node --p2p-bind-port 9230 --rpc-bind-port 9231 --zmq-rpc-bind-port 9232 --data-dir ~/.equilibria2
Restart=always
RestartSec=30s
[Install]
WantedBy=multi-user.target
