[Unit]
Description=equilibria service node3
After=network-online.target
[Service]
Type=simple
User=root
ExecStart=/root/bin/xeq3 --non-interactive --service-node --p2p-bind-port 9250 --rpc-bind-port 9251 --zmq-rpc-bind-port 9252 --data-dir ~/.equilibria3
Restart=always
RestartSec=30s
[Install]
WantedBy=multi-user.target
